ansible.log
playbooks/roles/*
!playbooks/roles/.gitkeep
playbooks/vars/*
!playbooks/vars/.gitkeep
inventory/*
!inventory/.gitkeep
*.swp
all.yml
rhel-server-*-x86_64-kvm.qcow2
tower-license.txt
backups
ocp4/
pull-secret.txt
rhcos-install
satellite-server-manifest.zip
qubinode_profile.log
issue.md
