apiVersion: v1
baseDomain: {{ public_domain }}
compute:
-  hyperthreading: Enabled
   name: worker
   replicas: {{ compute_count }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ master_count }}
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
fips: false
pullSecret: '{{ lookup('file', pull_secret) }}'
sshKey: {{ ssh_ocp4_public_key }}
