dn: {{ openshift_binddn }}
add:objectclass:account
add:objectclass:simplesecurityobject
add:uid:gitlabbdn
add:userPassword: {{ openshift_binddn_password }}
add:passwordExpirationTime: {{ openshift_binddn_password_expiration }}
add:nsIdleTimeout:0
