- name: deploy all VMs required
  hosts: localhost
  become: yes
  gather_facts: no
  vars_files:
    - vars/all.yml
    - vars/vault.yml

  tasks:
    - name: loop through vm types
      include_tasks: inventory_template_outer.yml
      loop: "{{ instances }}"
      loop_control:
        loop_var: outer_item
        label: outer_item.name

    - name: show masters
      debug:
        var: masters

    - name: show nodes
      debug:
        var: nodes

    - name: show nodes
      debug:
        var: all_nodes

    - name: deploy openshift template
      template:
        src: templates/inventory.3.11.rhel.gluster
        dest: /home/rheron/openshift-home-lab/inventory/openshift
