---
  - name: Deploy Master Node
    hosts: localhost
    vars_files:
      - vars/all.yml
      - vars/vault.yml
      - vars/idm.yml
      - vars/ocp4.yml
    become: yes
    vars:
      vm_type: master
      coreos_vm_hd_size: 120G
      coreos_vm_memory_size: 16192

    tasks:
    - name: Deploy Master node
      import_role:
        name: swygue.coreos-virt-install-iso
        tasks_from: deploy_vm.yml
