---
- name: Prepare host for OpenShift 4.x
  hosts: localhost
  vars_files:
    - vars/all.yml
    - vars/vault.yml
    - vars/idm.yml
    - vars/ocp4.yml
  handlers:
  - import_tasks: handlers/main.yml
  become: yes

  tasks:
  - name: Enable rhel-7-server-extras-rpms repository
    rhsm_repository:
      name: rhel-7-server-extras-rpms
      state: enabled

  - name: Check /etc/systemd/network/10-mainif.network
    stat:
      path: /etc/systemd/network/10-mainif.network
    register: stat_result

  - name: ensure IPForward is set in /etc/systemd/network/10-mainif.network
    lineinfile:
      path: /etc/systemd/network/10-mainif.network
      line: 'IPForward=ipv4'
      insertafter: '^\[Network\]'
      regexp: '^IPForward='
    when: stat_result.stat.exists == True

  - name: install podman,buildah, skopeo and  nfs-utils
    yum:
      name:
      - podman
      - buildah
      - skopeo
      - slirp4netns
      - nfs-utils
      state: present

  - name: activate namespaces
    become: True
    sysctl:
      name: user.max_user_namespaces
      value: '15000'
      sysctl_set: yes
      state: present
      reload: yes

  - name: check if subuid file exists
    stat:
      path: /etc/subuid
    register: subuid_setting

  - name: check if subgid file exists
    stat:
      path: /etc/subgid
    register: ssubgid_setting

  - name: Create /etc/subuid for non root podman exec
    copy:
      dest: "/etc/subuid"
      content: |
        {{ lookup('env','USER') }}:100000:65536
    when: subuid_setting.stat.exists == True

  - name: Create /etc/subgid for non root podman exec
    copy:
      dest: "/etc/subgid"
      content: |
        {{ lookup('env','USER') }}:100000:65536
    when: ssubgid_setting.stat.exists == True

  - name: Open up firewall ports
    firewalld:
      permanent: yes
      immediate: yes
      state: enabled
      port: "{{ item }}"
    with_items:
      - 80/tcp
      - 443/tcp
      - 6443/tcp
      - 22623/tcp
      - 32700/tcp
      - 2049/tcp
      - 2049/udp

  - name: Create NFS export directory
    file:
      path: /export
      state: directory
      mode: 0777
      owner: nfsnobody
      group: nfsnobody
    notify:
      - restart nfs

  - name: Copy NFS export conf file
    copy:
      src: templates/nfs-exports
      dest: /etc/exports
    notify:
      - restart nfs

  - name: Starting services
    service:
      name: "{{ item }}"
      enabled: yes
      state: started
    with_items:
      - rpcbind
      - nfs-server
      - nfs-lock
      - nfs-idmap

  - name: Copying over nfs-provisioner rbac
    copy:
      src: templates/nfs-provisioner-rbac.yaml
      dest: /usr/local/src/nfs-provisioner-rbac.yaml
      owner: root
      group: root
      mode: 0666

  - name: Copying over nfs-provisioner deployment
    template:
      src: templates/nfs-provisioner-deployment.yaml.j2
      dest: /usr/local/src/nfs-provisioner-deployment.yaml
      owner: root
      group: root
      mode: 0666

  - name: Copying over nfs-provisioner storageclass
    copy:
      src: templates/nfs-provisioner-sc.yaml
      dest: /usr/local/src/nfs-provisioner-sc.yaml
      owner: root
      group: root
      mode: 0666

  - name: Copying over a sample PVC file for NFS
    copy:
      src: templates/registry-pvc.yaml
      dest: /usr/local/src/registry-pvc.yaml
      mode: '0555'
